<html>
<head>
  <script>
      window.twttr = (function (d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {};
          if (d.getElementById(id)) return t;
          js = d.createElement(s);
          js.id = id;
          js.src = "https://platform.twitter.com/widgets.js";
          fjs.parentNode.insertBefore(js, fjs);

          t._e = [];
          t.ready = function (f) {
              t._e.push(f);
          };

          return t;
      }(document, "script", "twitter-wjs"));
  </script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.31/moment-timezone-with-data.min.js" integrity="sha512-HZcf3uHWA+Y2P5KNv+F/xa87/flKVP92kUTe/KXjU8URPshczF1Dx+cL5bw0VBGhmqWAK0UbhcqxBbyiNtAnWQ==" crossorigin="anonymous"></script>
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script>
      function drawChart() {
          Highcharts.setOptions({
              time: {
                  timezone: moment.tz.guess()
              }
          });

          Highcharts.stockChart('chart', {
              title: {
                  text: '<%= tweets_size %> tweets of <%= chart_name %>'
              },
              subtitle: {
                  text: 'since:<%= first_tweet.created_at.localtime %> until:<%= last_tweet.created_at.localtime %>'
              },
              series: [{
                  data: <%= chart_data %>
              }],
              rangeSelector: {enabled: false},
              scrollbar: {enabled: false},
              navigator: {enabled: false},
              exporting: {enabled: false},
              credits: {enabled: false}
          });
      }

      document.addEventListener("DOMContentLoaded", function () {
          drawChart();
      });
  </script>

  <style type=text/css>
    .tweets-container {
      max-width: 550px;
      margin: 0 auto 0 auto;
    }

    .twitter-tweet {
      margin: 15px 0 15px 0 !important;
    }
  </style>
</head>
<body>
<div id="chart"></div>

<div class="tweets-container">
  <% tweets.each do |tweet| %>
    <blockquote class="twitter-tweet">
      <a href="<%= tweet.tweet_url %>"></a>
    </blockquote>
  <% end %>

  <% if tweets_size > tweets.size %>
    <div>and more!</div>
  <% end %>
</div>

</body>
</html>
