<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.27.0/moment.min.js" integrity="sha512-rmZcZsyhe0/MAjquhTgiUcb4d9knaFc7b5xAfju483gbEXTkeJRUMIPk6s3ySZMYUHEcjKbjLjyddGWMrNEvZg==" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.31/moment-timezone-with-data.min.js" integrity="sha512-HZcf3uHWA+Y2P5KNv+F/xa87/flKVP92kUTe/KXjU8URPshczF1Dx+cL5bw0VBGhmqWAK0UbhcqxBbyiNtAnWQ==" crossorigin="anonymous"></script>
  <script src="https://code.highcharts.com/stock/highstock.js"></script>
  <script>
      function updateTweets() {
          window.twttr = (function (d, s, id) {
              var js, fjs = d.getElementsByTagName(s)[0], t = window.twttr || {};
              if (d.getElementById(id)) return t;
              js = d.createElement(s);
              js.id = id;
              js.src = "https://platform.twitter.com/widgets.js";
              fjs.parentNode.insertBefore(js, fjs);

              t._e = [];
              t.ready = function (f) {
                  t._e.push(f);
              };

              return t;
          }(document, "script", "twitter-wjs"));
      }

      function drawChart() {
          Highcharts.setOptions({
              time: {
                  timezone: moment.tz.guess()
              }
          });

          var data = <%= chart_data %>;
          var config = {
              title: {
                  text: '<%= tweets.size %> tweets of <%= chart_name %>'
              },
              subtitle: {
                  text: 'since:<%= first_tweet.created_at.localtime.strftime('%Y-%m-%d %H:%M') %> until:<%= last_tweet.created_at.localtime.strftime('%Y-%m-%d %H:%M') %>'
              },
              series: [{
                  data: data
              }],
              rangeSelector: {enabled: false},
              scrollbar: {enabled: false},
              navigator: {enabled: false},
              exporting: {enabled: false},
              credits: {enabled: false}
          };

          Highcharts.stockChart('chart-container', config);
      }

      document.addEventListener("DOMContentLoaded", function () {
          drawChart();
          updateTweets();
      });
  </script>

  <style type=text/css>
    #chart-container {
      max-width: 1200px;
      height: 675px;
      margin: 0 auto;
      border: 1px solid rgb(204, 214, 221);
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .tweets-container {
      max-width: 550px;
      margin: 0 auto 0 auto;
    }

    .twitter-tweet {
      margin: 15px 0 15px 0 !important;
    }
  </style>
</head>
<body>
<div id="chart-container"><div style="color: gray;">Loading...</div></div>

<div class="tweets-container">
  <% tweets.sort_by { |t| -t.created_at.to_i }.each.with_index do |tweet, i| %>
    <% tweet_time = tweet.created_at.localtime.strftime('%Y-%m-%d %H:%M') %>
    <% if i < convert_limit %>
      <blockquote class="twitter-tweet">
    <% else %>
      <div class="twitter-tweet" style="border: 1px solid rgb(204, 214, 221);">
    <% end %>

    <div style="display: grid; grid-template-rows: 24px 24px; grid-template-columns: 48px 1fr;">
      <div style="grid-row: 1/3; grid-column:  1/2;"><img src="<%= tweet.profile_image_url %>" width="48" height="48" loading="lazy"></div>
      <div style="grid-row: 1/2; grid-column:  2/3;"><%= tweet.name %></div>
      <div style="grid-row: 2/3; grid-column:  2/3;"><a href="https://twitter.com/<%= tweet.screen_name %>">@<%= tweet.screen_name %></a></div>
    </div>

    <div><%= tweet.text %></div>
    <div><a href="<%= tweet.tweet_url %>"><small><%= tweet_time %></small></a></div>

    <% if i < convert_limit %>
      </blockquote>
    <% else %>
      </div>
    <% end %>
  <% end %>
</div>

</body>
</html>
